plugins {
    id 'nf-prov@1.2.0'
}

params {
    outdir = 'results'
}

prov {
    formats {
        bco {
            file = "${params.outdir}/bco.json"
            overwrite = true
        }
        dag {
            file = "${params.outdir}/dag.html"
            overwrite = true
        }
        legacy {
            file = "${params.outdir}/manifest.json"
            overwrite = true
        }
    }
}
