plugins {
    id 'nf-prov'
}

params {
    outdir = 'results'
}

prov {
    formats {
        bco {
            file = "${params.outdir}/bco.json"
            overwrite = true
        }
        dag {
            file = "${params.outdir}/dag.html"
            overwrite = true
        }
        legacy {
            file = "${params.outdir}/manifest.json"
            overwrite = true
        }
        wrroc {
            file = "${params.outdir}/ro-crate-metadata.json"
            overwrite = true
            agent {
                name = "John Doe"
                orcid = "https://orcid.org/0000-0000-0000-0000"
            }
            license = "https://spdx.org/licenses/Apache-2.0"
            profile = "provenance_run_crate"
        }
    }
}