prov {
    enabled = true
    overwrite = true
    file = 'out/manifest.json'
}

manifest {
    name = "nf-prov-test"
    author = "Bruno Grande"
    homePage = "https://github.com/sage-bionetworks-workflows/nf-prov"
    description = "Nextflow plugin for tracking provenance"
    mainScript = "main.nf"
    nextflowVersion = "!>=21.10.3"
    version = "0.2.0"
    doi = ""
}