plugins {
    id 'nf-prov'
}

params {
    outdir = "results"
    constant = "foo"
}

prov {
    formats {
        bco {
            file = "${params.outdir}/bco.json"
            overwrite = true
        }
        dag {
            file = "${params.outdir}/dag.html"
            overwrite = true
        }
        legacy {
            file = "${params.outdir}/manifest.json"
            overwrite = true
        }
    }
}

manifest {
    name = "nf-prov-test"
    author = "Bruno Grande"
    homePage = "https://github.com/sage-bionetworks-workflows/nf-prov"
    description = "Nextflow plugin for tracking provenance"
    mainScript = "main.nf"
    nextflowVersion = "!>=21.10.3"
    version = "0.2.0"
    doi = ""
}
